SDK/V9.6.70/MV_WebServices/Definition/ShServiceTyped.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved.
Highly Confidential Material. -->
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://www.metaswitch.com/ems/soap/sh"
                  xmlns:intf="http://www.metaswitch.com/ems/soap/sh"
                  xmlns:tns1="http://www.metaswitch.com/ems/soap/sh"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.metaswitch.com/ems/soap/sh">
	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://www.metaswitch.com/ems/soap/sh" xmlns:m="http://www.metaswitch.com/ems/soap/sh" xmlns:u="http://www.metaswitch.com/ems/soap/sh/userdata" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.metaswitch.com/ems/soap/sh/userdata" schemaLocation="userData.xsd"/>
			<element name="ShPull">
				<complexType>
					<sequence>
						<element maxOccurs="1" minOccurs="1" name="UserIdentity" type="m:tUserIdentity"/>
						<element maxOccurs="1" minOccurs="1" name="DataReference" type="m:tDataReference"/>
						<element maxOccurs="1" minOccurs="1" name="ServiceIndication" type="string"/>
						<element maxOccurs="1" minOccurs="1" name="OriginHost" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="ShPullResponse">
				<complexType>
					<sequence>
						<element maxOccurs="1" minOccurs="1" name="ResultCode" type="m:tResultCode"/>
						<element maxOccurs="1" minOccurs="1" name="ExtendedResult" type="m:tExtendedResult"/>
						<element maxOccurs="1" minOccurs="0" name="UserData" type="u:tUserData"/>
					</sequence>
				</complexType>
			</element>
			<element name="ShUpdate">
				<complexType>
					<sequence>
						<element maxOccurs="1" minOccurs="1" name="UserIdentity" type="m:tUserIdentity"/>
						<element maxOccurs="1" minOccurs="1" name="DataReference" type="m:tDataReference"/>
						<element maxOccurs="1" minOccurs="1" name="UserData" type="u:tUserData"/>
						<element maxOccurs="1" minOccurs="1" name="OriginHost" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="ShUpdateResponse">
				<complexType>
					<sequence>
						<element maxOccurs="1" minOccurs="1" name="ResultCode" type="m:tResultCode"/>
						<element maxOccurs="1" minOccurs="1" name="ExtendedResult" type="m:tExtendedResult"/>
					</sequence>
				</complexType>
			</element>
			<simpleType name="tDataReference">
				<restriction base="int">
					<minInclusive value="0"/>
					<maxInclusive value="0"/>
				</restriction>
			</simpleType>
			<simpleType name="tUserIdentity">
				<restriction base="string" />
			</simpleType>
			<simpleType name="tResultCode">
				<restriction base="int">
					<minInclusive value="1000"/>
					<maxInclusive value="9999"/>
				</restriction>
			</simpleType>
         <complexType name="tExtendedResult">
            <sequence>
               <element maxOccurs="1" minOccurs="1" name="ExtendedResultCode" type="int" />
               <element maxOccurs="1" minOccurs="1" name="ExtendedResultDetail" type="string" />
               <element maxOccurs="1" minOccurs="1" name="ExtendedSubResults" type="m:tExtendedSubResults" />
               <element maxOccurs="unbounded" minOccurs="0" name="ExtendedResultSystem" type="m:tResultSystem" />
               <any minOccurs="0" maxOccurs="unbounded" />
            </sequence>
         </complexType>
         <complexType name="tExtendedSubResults">
            <sequence>
               <element minOccurs="0" maxOccurs="unbounded" name="SubResult" type="m:tSubResult" />
            </sequence>
         </complexType>
         <complexType name="tSubResult">
            <sequence>
               <element maxOccurs="1" minOccurs="1" name="SubResultCode" type="int" />
               <element maxOccurs="1" minOccurs="1" name="SubResultDetail" type="string" />
               <element maxOccurs="1" minOccurs="1" name="SubResultSource" type="string" />
               <element maxOccurs="unbounded" minOccurs="0" name="SubResultSystem" type="m:tResultSystem" />
               <any minOccurs="0" maxOccurs="unbounded" />
            </sequence>
         </complexType>
         <complexType name="tResultSystem">
            <simpleContent>
              <extension base="string">
                <attribute name="type" type="string" />
              </extension>
            </simpleContent>
         </complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="ShPull">
		<wsdl:part name="parameters" element="tns1:ShPull"/>
	</wsdl:message>
	<wsdl:message name="ShPullResponse">
		<wsdl:part name="parameters" element="tns1:ShPullResponse"/>
	</wsdl:message>
	<wsdl:message name="ShUpdate">
		<wsdl:part name="parameters" element="tns1:ShUpdate"/>
	</wsdl:message>
	<wsdl:message name="ShUpdateResponse">
		<wsdl:part name="parameters" element="tns1:ShUpdateResponse"/>
	</wsdl:message>
	<wsdl:portType name="Sh">
		<wsdl:operation name="ShPull">
			<wsdl:input name="ShPull" message="impl:ShPull"/>
			<wsdl:output name="ShPullResponse" message="impl:ShPullResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ShUpdate">
			<wsdl:input name="ShUpdate" message="impl:ShUpdate"/>
			<wsdl:output name="ShUpdateResponse" message="impl:ShUpdateResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ShServiceSOAP11Binding" type="impl:Sh">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ShPull">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="ShPull">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ShPullResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ShUpdate">
			<wsdlsoap:operation/>
			<wsdl:input name="ShUpdate">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ShUpdateResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ShServiceSOAP12Binding" type="impl:Sh">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ShPull">
			<soap12:operation soapAction=""/>
			<wsdl:input name="ShPull">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ShPullResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ShUpdate">
			<soap12:operation/>
			<wsdl:input name="ShUpdate">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ShUpdateResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ShService">
		<wsdl:port name="ShService" binding="impl:ShServiceSOAP11Binding">
			<wsdlsoap:address location="http://%METAVIEW_SERVER_NAME%:8080/services/ShService"/>
		</wsdl:port>
		<wsdl:port name="ShServiceSOAP11port_http" binding="impl:ShServiceSOAP11Binding">
			<wsdlsoap:address location="http://%METAVIEW_SERVER_NAME%:8080//services/ShService"/>
		</wsdl:port>
		<wsdl:port name="ShServiceSOAP12port_http" binding="impl:ShServiceSOAP12Binding">
			<soap12:address location="http://%METAVIEW_SERVER_NAME%:8080/services/ShService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
