SDK/V9.6.70/EAS_WebServices/Definition/Msph_Subscriber_Contacts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.metaswitch.com/sdp/soap/sh/servicedata" xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.metaswitch.com/sdp/soap/sh/servicedata" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.36" xsi:schemaLocation="http://www.metaswitch.com/sdp/soap/sh/documentation Documentation.xsd">
  <xs:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="https://www.w3.org/2005/05/xmlmime" />
  <xs:include schemaLocation="Msph_CommonTypes.xsd" />
  <xs:complexType name="tMsph_Subscriber_Contacts">
    <xs:annotation>
      <xs:documentation>
        Subscriber Contacts service indication.  Used to manage individual contacts associated with a subscriber.  You can group contacts together into contact groups using the Msph_Subscriber_ContactGroup service indication.
        <d:Actions>
          <d:Action>apply</d:Action>
          <d:Action>delete</d:Action>
        </d:Actions>
        <d:AuthLevel>admin</d:AuthLevel>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Contacts" type="tMsph_Subscriber_Contacts_Contacts">
        <xs:annotation>
          <xs:documentation>
            An individual Contact from the Contact List.
            <d:DisplayName>Contacts</d:DisplayName>
            <d:Type>Custom</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Action" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tMsph_Subscriber_Contacts_Contacts_Custom">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The name for this custom data.
            <d:DisplayName>Name</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Data" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The contents of this custom data.  A tag without this field present on an Update will cause the tag to be deleted from the Contact.
            <d:DisplayName>Data</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMsph_Subscriber_Contacts_Contacts">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="UID" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Unique Identifier of this contact. This should be specified for deletes, to identify the contact to be removed.
            <d:DisplayName>UID</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>R-R-R-</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Comments" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Notes associated with this Contact.  Permitted regex: .*
            <d:DisplayName>Comments</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="CompanyName" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Contact Company Name.  Permitted regex: .*
            <d:DisplayName>Company Name</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Email" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Primary email address for this Contact.  Permitted regex: ^([a-zA-Z0-9!#$%&amp;'*+\-/=?^_`{|}~]+(\.[a-zA-Z0-9!#$%&amp;'*+\-/=?^_`{|}~]+)*)@([a-zA-Z0-9!#$%&amp;'*+\-/=?^_`{|}~]+(\.[a-zA-Z0-9!#$%&amp;'*+\-/=?^_`{|}~]+)*)$
            <d:DisplayName>Email</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SecondaryEmail" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Secondary email address for this Contact.  Permitted regex: ^([a-zA-Z0-9!#$%&amp;'*+\-/=?^_`{|}~]+(\.[a-zA-Z0-9!#$%&amp;'*+\-/=?^_`{|}~]+)*)@([a-zA-Z0-9!#$%&amp;'*+\-/=?^_`{|}~]+(\.[a-zA-Z0-9!#$%&amp;'*+\-/=?^_`{|}~]+)*)$
            <d:DisplayName>Secondary Email</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="DisplayName" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The display name of this Contact.  The Contact must have a DisplayName and should also have either a GivenName or Surname.  Permitted regex: .*
            <d:DisplayName>Display Name</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>Yes</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="GivenName" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The given name of this Contact.  The Contact should have either a GivenName or Surname as a minimum.  Permitted regex: .*
            <d:DisplayName>Given Name</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Surname" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The surname of the Contact.  The Contact should have either a GivenName or Surname as a minimum.  Permitted regex: .*
            <d:DisplayName>Surname</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="WorkPhone" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The work phone number of this Contact.  Permitted regex: ^[#*]?\d+(:?-\d{1,3})?$
            <d:DisplayName>Work Phone</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="WorkCell" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The work Cellphone number of this Contact.  Permitted regex: ^[#*]?\d+(:?-\d{1,3})?$
            <d:DisplayName>Work Cell</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="WorkFax" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The work Fax number of this Contact.  Permitted regex: ^[#*]?\d+(:?-\d{1,3})?$
            <d:DisplayName>Work Fax</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="WorkPager" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The work Pager number of this Contact.  Permitted regex: ^[#*]?\d+(:?-\d{1,3})?$
            <d:DisplayName>Work Pager</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="WorkStreet1" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Line 1 of the work street address of this Contact.  Permitted regex: (?s).*
            <d:DisplayName>Work Street 1</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="WorkStreet2" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Line 2 of the work street address of this Contact.  Permitted regex: (?s).*
            <d:DisplayName>Work Street 2</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="WorkLocality" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The work locality name for this Contact.  Permitted regex: (?s).*
            <d:DisplayName>Work Locality</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="WorkState" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Work State for this Contact.  Permitted regex: (?s).*
            <d:DisplayName>Work State</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="WorkZIPCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Work ZIP code for this Contact.  Permitted regex: (?s).*
            <d:DisplayName>Work ZIP Code</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="WorkCountry" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Contact work Country.  Permitted regex: (?s).*
            <d:DisplayName>Work Country</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="HomePhone" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The home phone number of this Contact.  Permitted regex: ^[#*]?\d+(:?-\d{1,3})?$
            <d:DisplayName>Home Phone</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="HomeCell" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The home Cellphone number of this Contact.  Permitted regex: ^[#*]?\d+(:?-\d{1,3})?$
            <d:DisplayName>Home Cell</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="HomeFax" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The home Fax number of this Contact.  Permitted regex: ^[#*]?\d+(:?-\d{1,3})?$
            <d:DisplayName>Home Fax</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="HomePager" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The home Pager number of this Contact.  Permitted regex: ^[#*]?\d+(:?-\d{1,3})?$
            <d:DisplayName>Home Pager</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="HomeStreet1" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Line 1 of the home street address of this Contact.  Permitted regex: (?s).*
            <d:DisplayName>Home Street 1</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="HomeStreet2" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Line 2 of the home street address of this Contact.  Permitted regex: (?s).*
            <d:DisplayName>Home Street 2</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="HomeLocality" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The home locality name for this Contact.  Permitted regex: (?s).*
            <d:DisplayName>Home Locality</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="HomeState" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Home State for this Contact.  Permitted regex: (?s).*
            <d:DisplayName>Home State</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="HomeZIPCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Home ZIP code for this Contact.  Permitted regex: (?s).*
            <d:DisplayName>Home ZIP Code</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="HomeCountry" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Contact home Country.  Permitted regex: (?s).*
            <d:DisplayName>Home Country</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="OtherPhone" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            An alternative number for this Contact.  Permitted regex: ^[#*]?\d+(:?-\d{1,3})?$
            <d:DisplayName>Other Phone</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SMSAddress" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The SMS Address for this Contact.  Permitted regex: .*
            <d:DisplayName>SMS Address</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="JobTitle" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Job title of this Contact.  Permitted regex: .*
            <d:DisplayName>Job Title</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="WebPage" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Web page for this Contact.  Permitted regex: .*
            <d:DisplayName>Web Page</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Custom" type="tMsph_Subscriber_Contacts_Contacts_Custom">
        <xs:annotation>
          <xs:documentation>
            Custom data for this Contact.
            <d:DisplayName>Custom</d:DisplayName>
            <d:Type>Custom</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PreferredPhone" type="tMsph_Subscriber_Contacts_Contacts_PreferredPhone">
        <xs:annotation>
          <xs:documentation>
            The preferred phone number of this Contact.
            <d:DisplayName>Preferred Phone</d:DisplayName>
            <d:ValidFrom>1.3</d:ValidFrom>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:Values>
              <d:Value>PrefHomeMobile</d:Value>
              <d:Value>PrefHomePhone</d:Value>
              <d:Value>PrefWorkMobile</d:Value>
              <d:Value>PrefWorkPhone</d:Value>
              <d:Value>PrefOther</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PreferredEmail" type="tMsph_Subscriber_Contacts_Contacts_PreferredEmail">
        <xs:annotation>
          <xs:documentation>
            The preferred email address for this Contact.
            <d:DisplayName>Preferred Email</d:DisplayName>
            <d:ValidFrom>1.3</d:ValidFrom>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:Values>
              <d:Value>PrefEmail1</d:Value>
              <d:Value>PrefEmail2</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tMsph_Subscriber_Contacts_Contacts_PreferredPhone">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PrefHomeMobile" />
      <xs:enumeration value="PrefHomePhone" />
      <xs:enumeration value="PrefWorkMobile" />
      <xs:enumeration value="PrefWorkPhone" />
      <xs:enumeration value="PrefOther" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tMsph_Subscriber_Contacts_Contacts_PreferredEmail">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PrefEmail1" />
      <xs:enumeration value="PrefEmail2" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
