SDK/V9.6.70/EAS_WebServices/Definition/Msph_Subscriber_DCLTUI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.metaswitch.com/sdp/soap/sh/servicedata" xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.metaswitch.com/sdp/soap/sh/servicedata" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.36" xsi:schemaLocation="http://www.metaswitch.com/sdp/soap/sh/documentation Documentation.xsd">
  <xs:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="https://www.w3.org/2005/05/xmlmime" />
  <xs:include schemaLocation="Msph_CommonTypes.xsd" />
  <xs:complexType name="tMsph_Subscriber_DCLTUI">
    <xs:annotation>
      <xs:documentation>
        DCL specific Subscriber TUI Settings service indication.  Used to make modifications to a subscriber's TUI-related settings.
        <d:Actions>
          <d:Action>apply</d:Action>
        </d:Actions>
        <d:AuthLevel>admin</d:AuthLevel>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="IncludeSpokenName" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether the subscriber's Spoken Name should be included on new voicemails.  If a spoken name recording is not present then this flag is ignored and no spoken name is added to new voicemails.
            <d:DisplayName>Include Spoken Name</d:DisplayName>
            <d:Type>Choice of values, Switchable Default</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="MarketingEnabled" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether marketing broadcasts are enabled for this Subscriber.
            <d:DisplayName>Marketing Enabled</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PlayAudioLogo" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether to play the initial audio logo to this subscriber when logging in to the TUI.
            <d:DisplayName>Play Audio Logo</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="RequireSpokenName" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether a caller should be asked to record a spoken name when leaving a message for a subscriber.
            <d:DisplayName>Require Spoken Name</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AvailableTimeZones" type="tSwitchableDefaultString">
        <xs:annotation>
          <xs:documentation>
            The set of time zones which the subscriber can select from in the TUI. Time zones are described in the Java format (e.g. Europe/London).  Permitted regex: .*
            <d:DisplayName>Available Time Zones</d:DisplayName>
            <d:Type>Custom</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="InitializedPIN" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether the subscriber's PIN has been set appropriately (so that it need not be reset on first time access). It is set whenever the subscriber's PIN is set explicitly, either via a UI, through an API such as this or through business logic on creation.
            <d:DisplayName>Initialized PIN</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="InitializedRecordedName" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether the subscriber's Recorded Name has been set appropriately (so that it need not be re-recorded on first time access). It is set whenever the greeting is explicitly set up, which may be via a UI or through an API such as this.
            <d:DisplayName>Initialized Recorded Name</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="InitializedRecordedGreeting" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether the subscriber's Recorded Greeting has been set appropriately (so that it need not be re-recorded on first time access). It is set wheneverthe greeting is explicitly set up, which may be via a UI or through an API such as this.
            <d:DisplayName>Initialized Recorded Greeting</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="LeaveMessageLanguages" type="tSwitchableDefaultString">
        <xs:annotation>
          <xs:documentation>
            The language(s) to use when a non-subscriber leaves a message for this subscriber.  Values must be one of the Available Languages specified in the Class of Service, and if more than one language is specified should be comma separated.  If multiple languages are specified then prompts will be read out in each language in turn.  The default Leave Message Language is determined by the Class Of Service for the subscriber.  Permitted regex: .*
            <d:DisplayName>Leave Message Languages</d:DisplayName>
            <d:ValidFrom>1.1</d:ValidFrom>
            <d:Type>Custom</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Device" type="tMsph_Subscriber_DCLTUI_Device">
        <xs:annotation>
          <xs:documentation>
            Settings related to a specific device.
            <d:DisplayName>Device</d:DisplayName>
            <d:Type>Custom</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="InitializedPassword" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether the subscriber's Password has been set appropriately (so that it need not be reset on first time access). It is set whenever the subscriber's password is set explicitly, either via a UI, through an API such as this or through business logic on creation.
            <d:DisplayName>Initialized Password</d:DisplayName>
            <d:ValidFrom>1.12</d:ValidFrom>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AutovonEnabled" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether the autovon tone should be played for this subscriber.
            <d:DisplayName>Autovon Enabled</d:DisplayName>
            <d:ValidFrom>1.11.4.1</d:ValidFrom>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Action" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tGranularPlaybackSettings">
    <xs:annotation>
      <xs:documentation>A container for multiple Granular Playback Stringvalues. If this element is present on an update but has no children then all existing values will be removed. Otherwise the existing values will be replaced by the child elements' values.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Name" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether to play the name or number of the sender.
            <d:DisplayName>Name</d:DisplayName>
            <d:ValidFrom>1.16</d:ValidFrom>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Time" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether to play the date and time at which the message was received.
            <d:DisplayName>Time</d:DisplayName>
            <d:ValidFrom>1.16</d:ValidFrom>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Subject" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether to play the subject of the message.
            <d:DisplayName>Subject</d:DisplayName>
            <d:ValidFrom>1.16</d:ValidFrom>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Message" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether to play the message body.
            <d:DisplayName>Message</d:DisplayName>
            <d:ValidFrom>1.16</d:ValidFrom>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="Attach" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether to play the details of any attachments.
            <d:DisplayName>Attach</d:DisplayName>
            <d:ValidFrom>1.16</d:ValidFrom>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMsph_Subscriber_DCLTUI_Device">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="PhoneNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The phone number of this device.
            <d:DisplayName>Phone Number</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWR-R-</d:BaseAccess>
            <d:Mandatory>Yes</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ActiveSchedule" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Which schedule (if any) is active for this device: 0 = the custom TUI schedule, as specified in Msph_Subscriber_Schedules; 1-3 = a standard schedule with differing combinations of work hours and system holidays.  Permitted regex: .*
            <d:DisplayName>Active Schedule</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AutoContinue" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether the TUI should automatically advance to the next message without a Subscriber key press.
            <d:DisplayName>Auto Continue</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AutoPlay" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether the TUI should automatically play received messages.
            <d:DisplayName>Auto Play</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AutoPlayFax" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether the TUI should automatically play received faxes. Only used if Auto Play is set to True.
            <d:DisplayName>Auto Play Fax</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AutoPlayVoice" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether the TUI should automatically play received voicemails. Only used if Auto Play is set to True.
            <d:DisplayName>Auto Play Voice</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="FastLogin" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether the subscriber can be identified by the number they're calling from.
            <d:DisplayName>Fast Login</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="LeaveMessageLanguages" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The language(s) to use when a non-subscriber leaves a message on this device.  If this is set at device level it will override the subscriber level setting, at which point changes to the language made through the provisioning GUI or self-care TUI will have no effect.  Values must be one of the Available Languages specified in the Class of Service, and if more than one language is specified they should be comma separated.  If multiple languages are specified then prompts will be read out in each language in turn.  If this field is not set then the subscriber attribute will be used instead.  This field is deprecated as of version 1.1.  Use the subscriber level setting 'Leave Message Languages'.  Permitted regex: .*
            <d:DisplayName>Leave Message Languages</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="OperatorNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            An operator telephone number for use in the TUI.  Permitted regex: ^[0-9]*$
            <d:DisplayName>Operator Number</d:DisplayName>
            <d:Type>String</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PlayUrgentMessagesFirst" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag indicating whether urgent messages should be played first in the TUI.
            <d:DisplayName>Play Urgent Messages First</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PlayUrgentFaxesFirst" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag indicating whether urgent faxes should be played first in the TUI. This setting is only used if Play Urgent Messages First is set.
            <d:DisplayName>Play Urgent Faxes First</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PlayUrgentVoicemailsFirst" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag indicating whether urgent voicemails should be played first in the TUI. This setting is only used if Play Urgent Messages First is set.
            <d:DisplayName>Play Urgent Voicemails First</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="ShortPrompts" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag indicating whether the subscriber should hear short (expert) prompts when accessing the TUI.
            <d:DisplayName>Short Prompts</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="SkipPIN" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag indicating whether the subscriber skips the PIN stage when logging in using this device.
            <d:DisplayName>Skip PIN</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="UseVoiceNavigation" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag indicating whether the subscriber can navigate the TUI using Automated Speech Recognition (if not then DTMF tones are used).
            <d:DisplayName>Use Voice Navigation</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="VoicemailPlayback" type="tMsph_Subscriber_DCLTUI_Device_VoicemailPlayback">
        <xs:annotation>
          <xs:documentation>
            How to play back voicemails during message review: Play header, play body or play both (header followed by body).  This setting will only have an effect if the TUI message review prompt uses non-granular message headers. If the TUI message review prompt is configured to use granular message headers then this setting will be ignored. Please contact your CSE if you do not know whether your TUI uses granular or non-granular message headers.
            <d:DisplayName>Voicemail Playback</d:DisplayName>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:Values>
              <d:Value>header</d:Value>
              <d:Value>body</d:Value>
              <d:Value>both</d:Value>
              <d:Value>HEADER</d:Value>
              <d:Value>BODY</d:Value>
              <d:Value>BOTH</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="AutoPlayEmail" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag to indicate whether the TUI should automatically play received emails. Only used if Auto Play is set to True.
            <d:DisplayName>Auto Play Email</d:DisplayName>
            <d:ValidFrom>1.11.4.1</d:ValidFrom>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="PlayUrgentEmailsFirst" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Flag indicating whether urgent emails should be played first in the TUI. This setting is only used if Play Urgent Messages First is set.
            <d:DisplayName>Play Urgent Emails First</d:DisplayName>
            <d:ValidFrom>1.11.4.1</d:ValidFrom>
            <d:Type>Choice of values</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
            <d:DefaultValue>False</d:DefaultValue>
            <d:Values>
              <d:Value>True</d:Value>
              <d:Value>False</d:Value>
            </d:Values>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="0" name="VoicemailPlaybackGranular" type="tGranularPlaybackSettings">
        <xs:annotation>
          <xs:documentation>
            Controls which parts of voicemails will be played back during message review: name or number of sender; date and time at which the message was received; subject of the message; message body; attachment details. This setting will only have an effect if the TUI message review prompt uses granular message headers. If the TUI message review prompt is configured to use non-granular message headers then this setting will be ignored. Please contact your CSE if you do not know whether your TUI uses granular or non-granular message headers.
            <d:DisplayName>Voicemail Playback Granular</d:DisplayName>
            <d:ValidFrom>1.16</d:ValidFrom>
            <d:Type>Custom</d:Type>
            <d:BaseAccess>RWRWRW</d:BaseAccess>
            <d:Mandatory>No</d:Mandatory>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tMsph_Subscriber_DCLTUI_Device_VoicemailPlayback">
    <xs:restriction base="xs:string">
      <xs:enumeration value="header" />
      <xs:enumeration value="body" />
      <xs:enumeration value="both" />
      <xs:enumeration value="HEADER" />
      <xs:enumeration value="BODY" />
      <xs:enumeration value="BOTH" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
